<div class="container">
<h2>Esqueleto para proyectos que utilicen Angular2</h2>
  <div class="divider"></div>
  <div class="section">
    <h5>Two way DataBinding</h5>
    <form materialize class="col s12">
  <div class="row">
    <div class="input-field col s6">
      <input placeholder="Escribe algo" type="text" class="validate" [(ngModel)]="mensaje" name="mensaje">
      <label >Mensaje</label>
    </div>
  </div>
</form>
    <p>{{mensaje}}</p>
  </div>
  <div class="divider"></div>
  <div class="section">
    <h5>MaterializeCss</h5>
    <p><a href="http://materializecss.com/">Doucmentación</a></p>
        <h5>Angular2 Materialize </h5>
    <p><a href="https://www.npmjs.com/package/angular2-materialize">Doucmentación</a></p>
  </div>
    <div class="divider"></div>
  <div class="section">
    <h5>Servico de Toast incluido!</h5>
    <button class="btn btn-large green" (click)="toastr(0)">Pruebame!</button>
    <button class="btn btn-large red" (click)="toastr(1)">Pruebame!</button>
    <button class="btn btn-large yellow" (click)="toastr(2)">Pruebame!</button>
    <button class="btn btn-large teal" (click)="toastr(3)">Pruebame!</button>
  </div>
      <div class="divider"></div>
  <div class="section">
    <h5>ngrx store!</h5>
     <p> Valor : {{counter | async }}</p>
    <button class="btn btn-large lime" (click)="aumenta()">Aumentar</button>
    <button class="btn btn-large red" (click)="disminuye()">Disminuir</button>
  </div>
      <div class="divider"></div>
  <div class="section">
    <h5>Inicio de Sesion</h5>
    <!--*ngIf="isLogged | async "-->
      <p  *ngIf="(auth | async)?.isLogged " > Hay un usuario logeado!, <a (click)='logout()' class="text-red">salir</a></p> 
      <p> <a *ngIf="!(auth | async)?.isLogged" [routerLink]="['/login']">Probar</a></p>
  </div>

</div>




